/* Aregue todo su codigo personalizado aquí */


.player-button {
    font-weight: 700;
  }
  



.player-cover-image {
            ;
                animation: bga 60s linear infinite;
                
              
            }

            @keyframes bga {
                50% {
                    transform: scale(2)
                }
            }

